<!DOCTYPE html>
<html>
  <head>
    <title>GeoJson Visualiser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7hP_PYDdxKOQsYLeOXVvGDWttAY0rYqo&callback=initMap", :defer => "defer"%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
